.EquipoListItem-img {
  height: auto;
  max-height: 250px;
  width: auto;
  max-width: 250px;
}
.Header-style {

  position: relative;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  min-width: max-content;
  max-height: max-content;
  padding: 5px;
  background-color: #06283D;
}
.Icons ul li {
  display: inline;
  list-style-type: none;
  margin-right: 10px;
}

.Logo-header {
  border-radius: 50px;
}

.Icons ul li a {
  width: 165px;
  height: 60px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  text-decoration: none;
  margin-right: 33px;
  color: #ffff;
}

.Titulo-Principal {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;

  color: #000000;
}

.Texto-Principal {

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
}

.Contenedor-Principal{
  background-color: #1363DF;
}

.Contenido-Principal {
  position: absolute;
  width: 427px;
  height: 222px;
  left: 61px;
  top: 432px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;

  color: #000000;
}

.Imagen-Equipo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
